<%- include('head'); %>
<body>
    <%- include('menu'); %>

    <div class="main-content">
        <div class="merged-block">
            
        </div>
    </div>

    <%- include('footer'); %>
</body>
</html>
