<%- include('head'); %>
<body>
    <%- include('menu'); %>

    <div class="main-content"> 
        <div>
            <p>
                Starting as a young PHP developer in 2010, I quickly advanced to become an expert in eCommerce solutions using Magento. At the time, Magento was the industry standard for eCommerce, and developing on that platform was a testament to both skill and trustworthiness.
            </p>
            <p>
                When Node.js began gaining popularity after its release in 2009, I recognized its potential to revolutionize web development. I embraced the Node.js stack while continuing to build on my PHP expertise, expanding my skill set to include the best tools for modern web applications.
            </p>
            <p>
                Currently, my main focus is on creating AI-powered applications, such as AI chatbots and agents, which I believe will transform human interaction with computer systems. I am confident that we are on the verge of a breakthrough in the way we use software.
            </p>
        </div>                       
    </div>

    <div class="stack-content">
        <div class="php-stack">
            <h2><strong>PHP Stack:</strong></h2>
            <ul class="stack-list">
                <li>Magento 10+ years</li>
                <li>PHP PDO 10+ years</li>
                <li>X-Debug 10+ years</li>
                <li>Symfony 8+ years</li>
                <li>Zend Framework 10+ years</li>
                <li>WordPress 10+ years</li>
                <li>Composer 8+ years</li>
                <li>PHPUnit 8+ years</li>
                <li>Doctrine ORM 8+ years</li>
            </ul>
        </div>
        <div class="tools-infra">
            <h2><strong>Tools & Infra:</strong></h2>
            <ul class="stack-list">
                <li>Git 10+ years</li>
                <li>Docker 5+ years</li>
                <li>Jest 5+ years</li>
                <li>Selenium 5+ years</li>
                <li>Amazon Web Services (AWS) 5+ years</li>
                <li>Nginx 8+ years</li>
                <li>Kubernetes 5+ years</li>
                <li>Bash 10+ years</li>
            </ul>
        </div>
        <div class="nodejs-stack">
            <h2><strong>Node.js Stack:</strong></h2>
            <ul class="stack-list">
                <li>Typescript 8+ years</li>
                <li>Express.js 6+ years</li>   
                <li>ESlint 5+ years</li>             
                <li>Fastify 6+ years</li>      
                <li>NestJS 6+ years</li>
                <li>MongoDB (Mongoose) 3+ years</li>
                <li>Jest 5+ years</li>
                <li>Passport.js 3+ years</li>                
            </ul>
        </div>
        <div class="dbs-search">
            <h2><strong>DBs & Search:</strong></h2>
            <ul class="stack-list">
                <li>MySql 10+ years</li>
                <li>MongoDB 5+ years</li>
                <li>Elasticsearch 5+ years</li>
                <li>Redis 5+ years</li>
                <li>PostgreSQL 5+ years</li>
                <li>AWS Cloudwatch 5+ years</li>
                <li>Datadog 5+ years</li>
                <li>Apache Kafka 5+ years</li>
            </ul>
        </div>       
    </div>

    <div class="download-cv" style="text-align: center; margin-top: 20px;">
        <a href="/cv" target="_blank">
            <button style="padding: 10px 20px; font-size: 1.25rem; color: #000; background-color: #ffc107; border: none; border-radius: 5px; cursor: pointer;">Download My CV</button>
        </a>
    </div>

    <%- include('footer'); %>
</body>
</html>
