<%- include('head'); %>
<body>
    <%- include('menu'); %>

    <div class="main-content">
        <div class="merged-block">
            <div class="contact-info">
                <p>Email: <a href="mailto:vasyl.voina@gmail.com" style="color: #ffc107; text-decoration: none;">vasyl.voina@gmail.com</a></p>
                <p>Phone: <a href="tel:+380686275820" style="color: #ffc107; text-decoration: none;">+380686275820</a></p>
            </div>
        </div>
    </div>

    <%- include('footer'); %>
</body>
</html>
