<div class="footer">
    <a href="https://www.linkedin.com/in/vasyl-voina-67b608110" target="_blank"><i class="fab fa-linkedin"></i>&nbsp;LinkedIn</a>
   <a href="https://github.com/patronik" target="_blank"><i class="fab fa-github"></i>&nbsp;GitHub</a>
   <a href="https://www.upwork.com/freelancers/~0157264675be1ee59d" target="_blank"><i class="fab fa-upwork"></i>&nbsp;Upwork</a>
   <a href="https://bsky.app/profile/patronik.bsky.social" target="_blank"><i class="fab fa-bluesky"></i>&nbsp;Bluesky</a>
</div>