<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #000000;
            background-image: url("images/cross-stripes.png");
            color: #ffc107;
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
        }

        .top-bar {
            background-color: #111;
            padding: 15px;
            text-align: center;
        }

        .top-bar a {
            color: #ffc107;
            margin: 0 15px;
            text-decoration: none;
            font-weight: 700;
        }

        .top-bar a:hover {
            color: #fff;
        }

        .main-content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 60px 60px 20px 60px;
        }

        .left-block {
            width: 45%;
            text-align: left;
        }

        .stack-content {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            padding: 10px 60px 20px 60px;
        }     

        .stack-content .php-stack, 
        .stack-content .tools-infra,
        .stack-content .nodejs-stack,
        .stack-content .dbs-search {
            width: 20%;
            text-align: center;
        }  

        .stack-content .php-stack h2, 
        .stack-content .tools-infra h2,
        .stack-content .nodejs-stack h2, 
        .stack-content .dbs-search h2 {
           margin: 5px;
           color:#fff;
        }  
        
        .stack-content .php-stack ul, 
        .stack-content .tools-infra ul,
        .stack-content .nodejs-stack ul,
        .stack-content .dbs-search ul {
            list-style-type: none; /* Remove bullets */
            margin: 0;
            padding: 0;
        } 
        
        .download-cv button {
            padding: 10px 20px; 
            font-size: 1.25rem; 
            color: #000; 
            background-color: #ffc107; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer;
        }

        .name-heading {
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 30px;
            color: #ffc107;
        }

        .catchy-phrase {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 20px;
            color: #fff;
        }

        .intro-text {
            font-size: 1.25rem;
        }

        .right-block {
            width: 45%;
            text-align: center;
        }

        .personal-photo {
            width: 100%;
            max-width: 600px;
            opacity: 0.8;
        }

        .bottom-content {            
            display: flex;
            justify-content: center; 
            align-items: center; 
            padding: 0px 60px 60px 60px;
        }

        .bottom-content .bottom-photo {
            text-align: center;
            display: none;
        }

        .contact-info {
            width: 100%;
            max-width: 600px;
            text-align: center;
            margin-bottom: 20px;
        }

        .contact-info p {
            font-size: 1.25rem;
            margin: 10px 0;
        }

        .contact-info a {
            color: #ffc107; 
            text-decoration: none;
        }

        .contact-info h1 {
            color: #fff;
        }

        .contact-form-content {
            width: 100%;
            max-width: 600px;
            background-color: #222;
            padding: 20px;
            border-radius: 10px;
        }

        .contact-form-content label {
            display: block;
            margin-bottom: 5px;
            color: #ffc107;
            font-weight: 700;
        }

        .contact-form-content input,
        .contact-form-content textarea {
            width: 98%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            background-color: #333;
            color: #ffc107;
            font-family: 'Montserrat', sans-serif;
        }

        .contact-form-content button {
            padding: 10px 20px;
            font-size: 1.25rem;
            color: #000;
            background-color: #ffc107;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .contact-form-content button:hover {
            background-color: #e0a800;
        }

        .confirmation-message {
            display: none;
            margin: 10px 0px 10px 0px;
            padding: 10px;
            background-color: green;
            color: #fff;
            border-radius: 5px;
        }


        .error-message {
            display: none;
            margin: 10px 0px 10px 0px;
            padding: 10px;
            background-color: red;
            color: #fff;
            border-radius: 5px;
        }

        .footer {
            background-color: #111;
            padding: 20px 0px 20px 0px;
            text-align: center;
            position: fixed;
            width: 100%;
            bottom: 0;
        }

        .footer a {
            color: #ffc107;
            margin: 0 10px;
            text-decoration: none;
        }

        .footer a:hover {
            color: #fff;
        }

        @media (max-width: 1190px) and (min-width: 842px)  {
            .left-block .name-heading {
                font-size: 2rem;
            }

            .left-block .catchy-phrase,
            .contact-info h1 {
                font-size: 1.33rem;
            }

            .left-block  .intro-text,
            .contact-form label {
                font-size: 0.83rem;
            }

            .personal-photo {
                width: 100%;
                max-width: 400px;
            }  
            
            .stack-content h2 {
                font-size: 1em;
            }
            
            .footer a, .top-bar a, 
            .main-content p, .stack-content ul li,
            .download-cv button,
            .contact-form button {
                font-size: 0.75rem;
            }  
        }

        @media (max-width: 842px) and (min-width: 663px) {
            .left-block .name-heading {
                font-size: 1.5rem;
            }

            .left-block .catchy-phrase,
            .contact-info h1 {
                font-size: 1rem;
            }

            .left-block  .intro-text,
            .contact-form label {
                font-size: 0.625rem;
            }

            .personal-photo {
                width: 100%;
                max-width: 300px;
            }

            .stack-content h2 {
                font-size: 1em;
            }

            .footer a, .top-bar a, 
            .main-content p, .stack-content ul li,
            .download-cv button,
            .contact-form button  {
                font-size: 0.75rem;
            }  
        }  
        
        @media (max-width: 663px) {
            .left-block .name-heading {
                font-size: 1.2rem;
            }

            .left-block .catchy-phrase,
            .contact-info h1 {
                font-size: 0.8rem;
            }

            .left-block .intro-text,
            .contact-form label {
                font-size: 0.5rem;
            }

            .personal-photo {
                width: 100%;
                max-width: 240px;
            }

            .stack-content h2 {
                font-size: 1em;
            }

            .footer a, .top-bar a, 
            .main-content p, .stack-content ul li,
            .download-cv button,
            .contact-form button {
                font-size: 0.75rem;
            }  
        }  

        @media (max-width:  568px) {
            .right-block {
                display: none;
            }

            .bottom-content .bottom-photo {
                display: block;
            }

            .left-block {
                width: 90%;
            }

            .stack-content h2 {
                font-size: 0.75em;
            }

            .footer a, .top-bar a, 
            .main-content p, .stack-content ul li,
            .download-cv button  {
                font-size: 0.5rem;
            }  
        }                   
    </style>    
</head>