<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #000000;
            background-image: url("images/cross-stripes.png");
            color: #ffc107;
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
        }

        .top-bar {
            background-color: #111;
            padding: 15px;
            text-align: center;
        }

        .top-bar a {
            color: #ffc107;
            margin: 0 15px;
            text-decoration: none;
            font-weight: 700;
        }

        .top-bar a:hover {
            color: #fff;
        }

        .main-content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 60px;
        }

        .left-block {
            width: 45%;
            text-align: left;
        }

        .merged-block {
            width: 90%;
            text-align: center;
        }

        .name-heading {
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 30px;
            color: #ffc107;
        }

        .catchy-phrase {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 20px;
            color: #fff;
        }

        .intro-text {
            font-size: 1.25rem;
        }

        .right-block {
            width: 45%;
            text-align: center;
        }

        .personal-photo {
            width: 100%;
            max-width: 600px;
            opacity: 0.8;
        }

        .footer {
            background-color: #111;
            padding: 20px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .footer a {
            color: #ffc107;
            margin: 0 10px;
            text-decoration: none;
        }

        .footer a:hover {
            color: #fff;
        }
    </style>    
</head>