<%- include('head'); %>
<body>
    <%- include('menu'); %>

    <div class="main-content">
        <div class="left-block">
            <div class="catchy-phrase">The visible part of the web is just the tip of the iceberg. After clicking the button, the magic of the backend happens behind the scenes…</div>
            <div class="intro-text">Dedicated and passionate software engineer with over 15 years of experience, specializing in Node.js, PHP, and backend architecture. I began my career as a PHP developer, advancing to senior roles with ease. After mastering ecommerce development with Magento, I transitioned seamlessly to a Node.js technology stack. Unlike those hesitant to embrace new technologies, I have always pursued progress, and I’m proud of that journey.</div>
        </div>
        <div class="right-block">
            <img src="images/vv_croped.png" alt="Vasyl Voina" class="personal-photo">
        </div>
    </div>

    <%- include('footer'); %>
</body>
</html>
