<%- include('head'); %>
<body>
    <%- include('menu'); %>

    <div class="projects-container">
        <h1>My Projects</h1>

        <div class="project">            
            <div class="project-image">
                <img src="/images/ragman.png" alt="Ragman chat demo">
            </div>            
            <div class="project-content">
                <div class="project-title">Ragman</div>
                <div class="project-description">Open source AI powered chatbot, that provides the possibility to include your custom documents (RAG) in order to achive context specific question answering.</div>
                <div class="project-stack">Stack: Node.js, Express.js, OpenAI, Postgresql</div>
                <a href="https://ragman-demo.voinatech.com/chat" target="_blank" class="project-link">View Project</a>
            </div>        
        </div>
        
        <div class="project">            
            <div class="project-image">
                <img src="/images/regiondo-project.png" alt="Regiondo image">
            </div>            
            <div class="project-content">
                <div class="project-title">Regiondo</div>
                <div class="project-description">Online tour booking software</div>
                <div class="project-stack">Stack: PHP, Magento, Phalcon, Node.js, MySql, MongoDB, Redis, Kafka</div>
                <a href="https://pro.regiondo.com/" target="_blank" class="project-link">View Project</a>
            </div>        
        </div>

        <div class="project">            
            <div class="project-image">
                <img src="/images/mexicado-project.png" alt="Mexicado Image">
            </div>            
            <div class="project-content">
                <div class="project-title">Mexicado</div>
                <div class="project-description">Mexicado Delivers Fresh Hass Avocado Novelty Gifts to anywhere in the United States.</div>
                <div class="project-stack">Stack: PHP, JS, Magento, MySql, Apache, CSS/HTML</div>
                <a href="https://www.mexicado.com/" target="_blank" class="project-link">View Project</a>
            </div>        
        </div>

        <div class="project">            
            <div class="project-image">
                <img src="/images/magnext-project.png" alt="Project Image">
            </div>            
            <div class="project-content">
                <div class="project-title">Magnext</div>
                <div class="project-stack">Stack: PHP, JS, Magento, MySql, Apache, CSS/HTML</div>
                <div class="project-description">From complete systems to individual components Magnext provides quality equipment from the leading-brand manufacturers StorageTek, Sun, Oracle, HP, IBM, Quantum, ADIC, Overland, Dell, Fujitsu, and other manufacturers.</div>
                <a href="https://magnext.com/" target="_blank" class="project-link">View Project</a>
            </div>        
        </div>
    </div>


    <div class="testimonials-container">
        <h1>Testimonials</h1>        
        <div class="testimonial">
            <div class="testimonial-text">"Vasyl is a magento expert ninja level. If you need any work done on magento - Vasyl is your man. Highly recommend."</div>
        </div>
        <div class="testimonial">
            <div class="testimonial-text">"Awesome contractor. This is the 3rd time I rehired him for different projects."</div>
        </div>
        <div class="testimonial">
            <div class="testimonial-text">"Super job, very patient when things went wrong, but this was my fault. Great job and would definitely use again for Magento work. Great knowledge in the subject and did the work ahead of schedule to great level."</div>
        </div>
        <div class="testimonial">
            <div class="testimonial-text">"Excellent service, did the job and completed it in a timely manner, will use again."</div>
        </div>
        <div class="testimonial">
            <div class="testimonial-text">"Steady worker. Systematically solved all problems within the scope of his assignment."</div>
        </div>
    </div>

    <%- include('footer'); %>
</body>
</html>
